In [3]:
# Imports necess√°rios

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
# Caminho do arquivo CSV
dataset_path = "../dataset/raw/DatasetDiabetes.csv"

# Carregar o dataset
try:
    df = pd.read_csv(dataset_path, encoding="utf-8")  # Testando UTF-8
    print("‚úÖ Dataset carregado com sucesso usando UTF-8.")
except UnicodeDecodeError:
    df = pd.read_csv(dataset_path, encoding="ISO-8859-1")  # Caso UTF-8 falhe
    print("‚úÖ Dataset carregado com sucesso usando ISO-8859-1.")

‚úÖ Dataset carregado com sucesso usando UTF-8.

In [9]:
# 1Ô∏è‚É£ Vis√£o geral do dataset
print("\nüìå Informa√ß√µes Gerais do Dataset:")
df.info()

print("\nüîç Primeiras 5 linhas do dataset:")
print(df.head())

print("\nüîç √öltimas 5 linhas do dataset:")
print(df.tail())

üìå Informa√ß√µes Gerais do Dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         1000 non-null   int64
 1   No_Pation  1000 non-null   int64
 2   Gender     1000 non-null   object
 3   AGE        1000 non-null   int64
 4   Urea       1000 non-null   float64
 5   Cr         1000 non-null   int64
 6   HbA1c      1000 non-null   float64
 7   Chol       1000 non-null   float64
 8   TG         1000 non-null   float64
 9   HDL        1000 non-null   float64
 10  LDL        1000 non-null   float64
 11  VLDL       1000 non-null   float64
 12  BMI        1000 non-null   float64
 13  CLASS      1000 non-null   object
dtypes: float64(8), int64(4), object(2)
memory usage: 109.5+ KB

üîç Primeiras 5 linhas do dataset:
    ID  No_Pation Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL  \
0  502      17975      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
1  735      34221      M   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6
2  420      47975      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
3  680      87656      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
4  504      34223      M   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4

    BMI CLASS
0  24.0     N
1  23.0     N
2  24.0     N
3  24.0     N
4  21.0     N

In [16]:
# 2Ô∏è‚É£ Estat√≠sticas descritivas
print("\nüìä Estat√≠sticas descritivas:")
print(df.describe())

üìä Estat√≠sticas descritivas:
                ID     No_Pation          AGE         Urea           Cr  \
count  1000.000000  1.000000e+03  1000.000000  1000.000000  1000.000000
mean    340.500000  2.705514e+05    53.528000     5.124743    68.943000
std     240.397673  3.380758e+06     8.799241     2.935165    59.984747
min       1.000000  1.230000e+02    20.000000     0.500000     6.000000
25%     125.750000  2.406375e+04    51.000000     3.700000    48.000000
50%     300.500000  3.439550e+04    55.000000     4.600000    60.000000
75%     550.250000  4.538425e+04    59.000000     5.700000    73.000000
max     800.000000  7.543566e+07    79.000000    38.900000   800.000000

             HbA1c         Chol           TG          HDL          LDL  \
count  1000.000000  1000.000000  1000.000000  1000.000000  1000.000000
mean      8.281160     4.862820     2.349610     1.204750     2.609790
std       2.534003     1.301738     1.401176     0.660414     1.115102
min       0.900000     0.000000     0.300000     0.200000     0.300000
25%       6.500000     4.000000     1.500000     0.900000     1.800000
50%       8.000000     4.800000     2.000000     1.100000     2.500000
75%      10.200000     5.600000     2.900000     1.300000     3.300000
max      16.000000    10.300000    13.800000     9.900000     9.900000

              VLDL          BMI
count  1000.000000  1000.000000
mean      1.854700    29.578020
std       3.663599     4.962388
min       0.100000    19.000000
25%       0.700000    26.000000
50%       0.900000    30.000000
75%       1.500000    33.000000
max      35.000000    47.750000

In [15]:
# 3Ô∏è‚É£ Verificar valores nulos
print("\nüîç Quantidade de valores nulos por coluna:")
print(df.isnull().sum())

üîç Quantidade de valores nulos por coluna:
ID           0
No_Pation    0
Gender       0
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         0
TG           0
HDL          0
LDL          0
VLDL         0
BMI          0
CLASS        0
dtype: int64

In [14]:
# 4Ô∏è‚É£ Verificar valores √∫nicos por coluna
print("\nüîç Quantidade de valores √∫nicos por coluna:")
print(df.nunique())

üîç Quantidade de valores √∫nicos por coluna:
ID           800
No_Pation    961
Gender         3
AGE           50
Urea         110
Cr           113
HbA1c        111
Chol          77
TG            69
HDL           48
LDL           65
VLDL          60
BMI           64
CLASS          5
dtype: int64

In [10]:
# 5Ô∏è‚É£ Verificar tipos de dados
print("\nüìå Tipos de dados das colunas:")
print(df.dtypes)

üìå Tipos de dados das colunas:
ID             int64
No_Pation      int64
Gender        object
AGE            int64
Urea         float64
Cr             int64
HbA1c        float64
Chol         float64
TG           float64
HDL          float64
LDL          float64
VLDL         float64
BMI          float64
CLASS         object
dtype: object

In [11]:
# 6Ô∏è‚É£ Dimens√£o do dataset
print("\nüìè Dimens√£o do dataset (linhas, colunas):", df.shape)

üìè Dimens√£o do dataset (linhas, colunas): (1000, 14)

In [12]:
# 7Ô∏è‚É£ Identificar registros duplicados
print("\nüîç N√∫mero de registros duplicados:", df.duplicated().sum())

üîç N√∫mero de registros duplicados: 0

In [18]:
# 8Ô∏è‚É£ Exibir matriz de correla√ß√£o
print("\nüìä Matriz de Correla√ß√£o das Vari√°veis Num√©ricas:")
correlation_matrix = df.corr()
print(correlation_matrix)

üìä Matriz de Correla√ß√£o das Vari√°veis Num√©ricas:

ValueError: could not convert string to float: 'F'